*{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

/* header section */
header {
    height: 130px;
    background-image: url(../img/pattern.png);
    background-color: #0099ff;
    background-size: 38%;
}

.Logo{
    width: 20%;
    padding: 20px;
    padding-top: 55px;
}

/* body section */

/* Title and img section */
.Title{
    font-weight: bold;
    font-size: 50px;
    margin: 10px 0px;
}

.Author{
    color: gray;
    margin-bottom: 10px;
}

.Booleaner{
    color: #0099ff;
}

/* text section 1 */

/* Highlighter text */
.Highlighter{
    background-color: rgb(215, 253, 0);
}

ul{
    padding: 20px;
}
